body {
    margin: 0;
    padding: 0;
}

.space {
    background-image: url("static/space.png");
    overflow: hidden;
}

.control-panel {
    position: absolute;
    bottom: 100px;
    right: 200px;
    background-color: yellow;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(0,0,0,1) 20px, rgba(0,0,0,1) 40px);
    border-radius: 15px;
    padding: 10px;
}

.control-panel__inner {
    background-color: rgba(50,50,50,1);
    border-radius: 20px;
    padding: 80px 20px 20px 20px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.control-panel__inner div {
    margin: auto;
    padding: 20px;
    width: 90%;
}

.control-panel__inner>input {
    margin: 15px auto;
    padding: 0 20px;
    font-size: 1em;
}

.control-panel__inner input[type="password"] {
    position: absolute;
    top: 40px;
    left: 120px;
    width: 250px;
    border: 2px solid yellow;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.control-panel__inner input[type="submit"] {
    position: absolute;
    top: 40px;
    left: 420px;
    width: 80px;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 15px;
}

.control-panel__inner input[type="submit"]:hover {
    background-color: red;
    color: white;
}

.control-panel__inner input[type="button"] {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 15px;
}

.control-panel__inner input[type="button"]:hover {
    background-color: yellow;
    color: black;
    border: 2px solid red;
    border-radius: 15px;
}

.control-panel__inner input[disabled] {
    background-color: gray;
    color: black;
    border: 2px solid white;
    border-radius: 15px;
}

.control-panel__inner input[disabled]:hover {
    background-color: gray;
    color: black;
    border: 2px solid white;
    border-radius: 15px;
}

.control-panel__inner .check-buttons {
    display: flex;
    justify-content: space-around;
}

.control-panel__inner .levers {
    display: flex;
    justify-content: space-around;
}

.levers input[type="range"]{
    transform: rotate(90deg);
    width: 60px;
}

.planet {
    position: relative;
    top: 100px;
    z-index: 1;
}

.rocket {
    position: absolute;
    top: 150px;
    left: 330px;
    transform: rotate(20deg)scale(.5);
}
