/*
Colors from coolors.co:
Red Pantone:    #E63946
Honeydew:       #F1FAEE
Non Photo Blue: #A8DADC
Cerulean:       #457B9D
Berkeley Blue:  #1D3557
 */

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    background-color: #A8DADC;
    color: #1D3557;
    display: block;
    margin: 0 auto;
    width: 60vw;
    padding: 25px 30px 25px 30px;
}

img {
    max-width: 400px;
    border-radius: 5%;
    flex-shrink: 1;
}

/* Header - Nav-bar */
header {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: center;
    top: 0;
    height: 95px;
    width: 100%;
    background-color: #457B9D;
    z-index: 10;
}

header h1{
    margin-right: 5vw;
    color: white;
}

header a:hover {
    background-color: #A8DADC;
    color: #1D3557;
}

nav {
    display: flex;
    height: 95px;
}

.navbar, .navbar-sm {
    position: relative;
    background-color: #457B9D;
    padding: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbar-icon, .navbar-closeicon {
    display: none;
    height: 50px;
}

.hamburger {
    display: none;
}

/* About Me */
#about {
    scroll-margin-top: 8vh;
}

.about {
    background-color: #F1FAEE;
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

.about__photo {
    flex: 1 2 200px;
}

.about__text {
    flex: 1 1 200px;
    margin-left: 25px;
    align-self: center;
}

/* Portfolio items */
#portfolio {
    scroll-margin-top: 12vh;
    margin-left: 15%;
}

.portfolio {
    background-color: #F1FAEE;
    margin-top: 25px;
    padding: 25px 0 0 25px;
    border-radius: 15px;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__items figure {
    align-self: center;
    height: max-content;
}

.portfolio__items figcaption {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.portfolio__items span {
    width: auto;
    height: auto;
}

/* Pop-up window */
#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
}

.window {
    position: relative;
    align-self: center;
    display: none;
    max-height: auto;
    width: 40vw;
    border: 3px solid #1D3557;
    border-radius: 15px;
    box-shadow: 10px 10px 5px;
    background-color: #A8DADC;
    z-index: 3;
}

.windowtext {
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    background-color: #F1FAEE;
    height: auto;
}

/* Contacts section */
.contacts {
    background-color: #F1FAEE;
    margin-top: 25px;
    padding: 25px 0 0 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60vw;
    padding: 1em 30px 0 30px;
    background-color: #457B9D;
}

footer a {
    justify-self: center;
}

footer img {
    margin: auto 1em 1em auto;
    width: 100px;
    height: auto;
}

@media (max-width: 900px) {
    /* Hide menu-items, show hamburger */
    .fullMenu {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        right: 0;
    }

    .name {
        position: fixed;
        top: 0;
        left: 15px;
    }

    .navbar-icon, .navbar-closeicon {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }

    .navbar-closeicon {
        display: none;
    }

    img.tux {
        max-width: 300px;
        object-fit: scale-down;
    }

    .hamburger {
        position: fixed;
        right: 0;
        top: 0;
    }

    .navbar-sm {
        display: none;
        float: none;
        top: 95px;
    }

    /* Adapt other page elements */
    .window {
        width: 70vw;
    }
}
